body {
    margin: 0 0 0 0;
    display: grid;
    background-color: #e7e7e7;
    grid-template-areas:
        "header header"
        "main main"
        "footer footer";
    grid-template-columns: 1fr 1fr;
    grid-gap: 0;
    color: black;
    font-family: Roboto;
    text-align: center;
}
h1, h2, h3, h4, h5, h6, header ul {
    font-family: 'Bebas Neue', cursive;
    letter-spacing: 1.5px;
    font-weight: normal;
}

h1 {
    font-size: 36px;
    letter-spacing: 3px;
}

h2 {
    font-size: 20px;
}

h3 {
    font-size: 14px;
}

h4 {
    font-size: 14px;
}

header {
    height: 64px;
    display: flex;
    grid-area: header;
    background-color: black;
    align-items: center;
    justify-content: space-between;
    color: #a2a2a2;
}

section {
    padding-top: 60px;
    padding-bottom: 70px;
}

.wrapper {
    padding-left: 24px;
    padding-right: 24px;
}

article {
    padding-bottom: 70px;
    padding-top: 60px;
}


a,
h2,
header h2 {

    font-family: "Bebas Neue";
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 1.5px;
    color: #a2a2a2;

}

header,
#about-me,
footer,
.skill {
    background: black;
    color: #a2a2a2;
}



main {
    grid-area: main;
    height: auto;
    margin: 0 0 0 0;
}


#aboutMe {
    background-color: black;
}


#summary h1 {
    font-family: "Bebas Neue";
    font-size: 36px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 3px;
    margin-top: 24px;
    margin-bottom: 34px;
}


#summary p {
    font-size: 18px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 1px;
    justify-self: first baseline;
}

h2 {
    font-family: "Bebas Neue";
    font-size: 20px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 1.67px;
}

#aboutMe h2 {

    color: #a2a2a2;
    font-size: 20px;
}

#skills h2 {
    font-size: 20px;
    color: black;
}

#personal-info {

    font-size: 14px;
    font-weight: 200;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.43;
    letter-spacing: normal;
    color: #a2a2a2;
}

#talkbutton {
    padding: 14px 36px;
    border-radius: 3px;
    border: solid 2px #1c6698;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 1px;
    color: #1c6698;
}


li {
    width: 143px;
    height: 16px;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #a2a2a2;
    list-style: none;

}

/* skills */
#skills {

}

#skills .list {
    display: flex;
    overflow: auto;
}

#skills .list::after{
    content: "";
    padding-right: 24px;
}

#skills .list .skill {
    flex-shrink: 0;
    box-sizing: border-box;
    padding: 30px 35px;
    width: 208px;
    height: 350px;
    border-radius: 3px;
    box-shadow: 1px 2px 4px 0 rgba(0, 0, 0, 0.5);
    margin-right: 32px;
}

#skills .list .skill:first-child {
    margin-left: 24px; /* update .wrapper*/
}

#skills .list .skill:last-child {
    margin-right: 0;
}

#skills .list .skill h3 {
    border: solid 1px #ffffff;
}

#skills .list .skill h4 {
    color: white;
}

#skills .list .skill ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.hide {
    visibility: hidden;
    display: none;
}

#menubot {
    visibility: visible;
    order: 1;
}

.videoWrapper{
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    padding-top: 25px;
    height: 0;
}
.videoWrapper iframe{
    border: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

@media (min-width:496px){
    #skills .list {
       justify-content: center;
    }
}

@media (min-width: 880px) {
    iframe {
        width: 809px;
        height: 455px;
    }

    #menubot {
        visibility: hidden;
    }

    .hide {
        visibility: visible;
        display: flex;
        justify-content: center;
        width: 370px;
        order: 1;
    }

    a,
    h2 {
        height: 17px;
        font-family: "Bebas Neue";
        font-size: 14px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: 1.5px;
        color: #a2a2a2;
        margin-inline-start: 24px;
        text-decoration: none;
        margin: 20px;

    }

    header {
        justify-content: space-around;
    }
}



bold {
    font-weight: bold;
}


footer {
    grid-area: footer;
    background-color: black;
    margin: 0 0 0 0;
    height: 104px;
    display: flex;
    align-items: center;
    justify-content: center;

}

footer h3 {
    width: 149px;
    height: 17px;
    font-family: "Bebas Neue";
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 1.17px;
    color: #a2a2a2;

}