.container {
    display: grid;

    grid-template-areas:
        "header header"
        "main main"
        "footer footer";
    grid-template-columns: 1fr 1fr;
    grid-gap: 0px;
    background-color: aqua;

}

body {
    margin: 0 0 0 0;
}



header {
    height: 64px;
    display: flex;
    flex: 2;
    grid-area: header;
    background-color: black;
    align-items: center;
    justify-content: space-between;
    color: #a2a2a2;
}

header h6 {
    position: relative;
    left: 7.5%;
    width: 106px;
  height: 17px;
  font-family: "Bebas Neue";
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 1.5px;
  color: #a2a2a2;

}


main {
    grid-area: main;
    height: auto;
    margin: 0 0 0 0;

}

.introa {
    display: flex;
    background-color: #e7e7e7;
    margin-top: 0px;
    padding-top: 0px;
    height: 380px;
    border: black;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.introb {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: black;
    margin-top: 0px;
    
}

.introc {
    display: flex;
    background-color: #e7e7e7;
    margin-top: 0px;
    padding-top: 0px;
    height: 554px;
    border: black;
    flex-direction: column;
    align-items: center;
    justify-content: center;


}

.introa h1 {
    width: 221px;
    height: 129px;
    font-family: "Bebas Neue";
    font-size: 36px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 3px;
    text-align: center;
    color: #000000;

}


.introa h3 {
    width: 60px;
    height: 21px;
    margin-bottom: 0px;
    font-family: Roboto;
    font-size: 18px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 1px;
    text-align: center;
    color: #000000;
    justify-self: first baseline;
}

h2 {
    font-family: "Bebas Neue";
    font-size: 20px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 1.67px;
    text-align: center;
}

.introb h2 {
    
    width: 70px;
    height: 24px;
    color: #a2a2a2;
    margin-top: 60px;


}

.introc h2 {
    margin-top: 0px;
    width: 97px;
    height: 24px;
    color: black;
}

.introb .personal {
    width: 264px;
    height: 200px;
    font-family: Roboto;
    font-size: 14px;
    font-weight: 200;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.43;
    letter-spacing: normal;
    text-align: center;
    color: #a2a2a2;
}



.Rectangle {
    width: 160px;
    height: 40px;
    border-radius: 3px;
    border: solid 2px #1c6698;
    margin-top: 24.120px;
    margin-bottom: 24.120px;

    font-family: Roboto;
    font-size: 12px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 1px;
    text-align: center;
    color: #1c6698;
}

.cont {
    margin-left: auto;
    margin-right: auto;
    position: relative;
    max-width: 90%;
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
}

.cont .RectangleR{
    display: flex;
    flex: 0 0 auto;
    margin: 20px;
    margin-right: 0px;
    width: 208px;
    height: 350px;
    border-radius: 3px;
    box-shadow: 1px 2px 4px 0 rgba(0, 0, 0, 0.5);
    background-color: #000000;

    flex-direction: column;
    align-items: center;
}

.cont .RectangleL{
    display: flex;
    flex: 0 0 auto;
    margin: 20px;
    margin-left: 0px;
    width: 208px;
    height: 350px;
    border-radius: 3px;
    box-shadow: 1px 2px 4px 0 rgba(0, 0, 0, 0.5);
    background-color: #000000;

    flex-direction: column;
    align-items: center;
}
.cont .Rectangle {
    display: flex;
    flex: 0 0 auto;
    margin: 20px;
    width: 208px;
    height: 350px;
    border-radius: 3px;
    box-shadow: 1px 2px 4px 0 rgba(0, 0, 0, 0.5);
    background-color: #000000;

    flex-direction: column;
    align-items: center;
    
    
    
   
   

}

.RectangleL h3, .RectangleR h3 {
    margin-top: 2em;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 61px;
    height: 17px;
    margin-block-end:  0em;
    font-family: "Bebas Neue";
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 1.5px;
    text-align: center;
    color: #ffffff;
}

.RectangleL h4, .RectangleR h4{
    width: 143px;
  height: 16px;
  font-family: Roboto;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #a2a2a2;
}

.RectangleL .Rectangle2 , .RectangleR .Rectangle2 {
   
    border: solid 1px #ffffff;
    margin-top: 2em;
    margin-bottom: 2em;
    width: 134px;
    height: 24px;
    font-family: "Bebas Neue";
    font-size: 14px;
    letter-spacing: 1.5px;
    text-align: center;
    color: #a2a2a2;
    
}
@media (min-width: 800px) {
    iframe{
        width: 809px;
        height: 455px;
    }
  }



bold {
    font-weight: bold;
}


footer {
    grid-area: footer;
    background-color: black;
    margin: 0 0 0 0;
    height: 104px;
    display: flex;
    align-items: center;
    justify-content: center;

}

footer h3{
    width: 149px;
  height: 17px;
  font-family: "Bebas Neue";
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 1.17px;
  text-align: center;
  color: #a2a2a2;
  
}